
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#F9FAF8;
}

.headernav div {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.top-section{
 padding:10px 15%
 
}

.headernav {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-bottom: 10%;
  
  
}

.info-top {
  display: flex;
}

.top-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.image-holder {
  display: block;
  background-color: gray;
  min-width: 400px;
  min-height: 170px;
  text-align: center;
  
}


li {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
  color:#F9FAF8;
}

.top-section, .footer {
  background-color: #1F2937;

}
button {
  background-color: #3882F6;
  border-style: none;
  color: #F9FAF8;
  padding: 6px 16px;
  border-radius: 4px;
  margin-top: -10px;
  max-width: 100px;

}

h1 {
  margin: 0;
  margin-bottom: -15px;
}

