


body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#F9FAF8;

}

.headernav div {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}



.headernav {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-bottom: 10%;
  
  
}

.top-section {
  margin-left: 0px;
  background-color: #1F2937;
  
}



.info-top {
  display: flex;

}

.top-left {
  display: flex;
  flex-direction: column;
  
 
  max-width: 400px;
}

.image-holder {
  display: block;
  background-color: gray;
  min-width: 400px;
  min-height: 170px;
  text-align: center;
  
  
}

.randomInfo {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin: 40px;
}

.subtext {
  color: black;
  max-width: 100px;
}

.box {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #3882F6;
  background-color: #F9FAF8;
  border-radius: 10px;
  
}

.middle-upper-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}


li {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
  color:#F9FAF8;
}

.top-section, .footer {
  background-color: #1F2937;

}
button {
  background-color: #3882F6;
  border-style: none;
  color: #F9FAF8;
  padding: 6px 16px;
  border-radius: 4px;
  margin-top: -10px;
  max-width: 100px;

}

h1 {
  margin: 0;
  margin-bottom: -15px;
}

